#exportPattern("^[[:alpha:]]+")

export(PACViR.complete)

import(optparse)
import(RCircos)

importFrom("utils", "read.table", "write.table")
importFrom("graphics", "polygon", "title", "legend")

#importFrom("grDevices", "svg", "dev.off")
importFrom("grDevices", "pdf", "dev.off")

importFrom("RCircos", "RCircos.Env")
